# For production

# Environment variables for connecting the backend to the database
DB_HOST=database
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=


# PostGres database backend. Make sure the following is true
# `DB_USER` and `POSTGRES_USER` match
# `DB_PASSWORD` and `POSTGRES_PASSWORD` match
# `DB_NAME` and `POSTGRES_DB` match
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


export KAGGLE_USERNAME=
export KAGGLE_KEY=

OPENAI_API_KEY=

GOOGLE_SEARCH_API_KEY=
GOOGLE_SEARCH_CX=
