langchain_core==0.3.61
langchain_openai==0.3.31
langgraph==0.4.7
psycopg2_binary==2.9.10
pydantic==2.11.7
python-dotenv==1.1.0
Requests==2.32.4
tavily-python==0.7.3
tqdm==4.66.4
typing_extensions==4.13.2
urllib3==2.5.0
